.login-page{
    background-image: url('./cidadenoturna.jpg');
}
#register-logo{
    color:rgb(137, 255, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-row #usuario{
    width: 80%;
    border-radius: 10px;
   padding: 10px;
   margin-top: 10px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}
.input-row #user{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: right;
    margin-left: 50px;
}
.nome{
    display:flex;
    width: 100%;
    border-radius: 10px;
   padding: 1px;
   margin-top: 1px;
    background-color: #00acba;
    align-content: flex-end;
}.input-row #email{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: right;
    margin-left: 50px;
}.input-row #cep{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}.input-row #cpf{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}.input-row #cnpj{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}.input-row #esc{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}
.input-row #senha{
    width: 80%;
    border-radius: 10px;
   padding: 10px;
   margin-top: 10px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}
.input-row #senha2{
    width: 80%;
    border-radius: 10px;
   padding: 5px;
   margin-top: 1px;
    background-color: #00acba;
    align: center;
    margin-left: 50px;
}
.button{
    width: 82%;
    margin-left:45px;
    border-radius: 15px;
    background-color:#00acba;

}
.reset{
    width: 82%;
    margin-left:45px;

    border-radius: 15px;
    background-color:#00acba;
    margin-top: 1px;

}
.input-row #h2{
    color: seashell;
}
#link{
    margin-left: 60px;
}
.form-message-valid{
    margin-left: 60px;
    color: blue;
    align-items: center;
}
.form-message-invalid{
    margin-left: 50px;
    color: rgb(240, 48, 48);
    align-items: center;
}
 .label{
     display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#00acba;

}
.labelc{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#00acba;
    justify-content: left;
    margin-right: 50%;

}
.input-row{
    padding: 0;
    margin: 0;
}